/* CONDITION:base - START */
.pot-button {
    --pot-button-color-base-border: initial;
    --pot-button-color-base-background: initial;
    --pot-button-color-base-text: initial;
    --pot-button-color-base-outline: initial;

    border-color: var(--pot-button-color-base-border);
    background-color: var(--pot-button-color-base-background);
    color: var(--pot-button-color-base-text);
    outline-color: var(--pot-button-color-base-outline);
}
/* CONDITION:base - END */

/* CONDITION:hover - START */
.pot-button {
    --pot-button-color-hover-border: initial;
    --pot-button-color-hover-background: initial;
    --pot-button-color-hover-text: initial;
    --pot-button-color-hover-outline: initial;
}

.pot-button:hover {
    border-color: var(--pot-button-color-hover-border);
    background-color: var(--pot-button-color-hover-background);
    color: var(--pot-button-color-hover-text);
    outline-color: var(--pot-button-color-hover-outline);
}
/* CONDITION:hover - END */

/* CONDITION:pressed - START */
.pot-button {
    --pot-button-color-pressed-border: initial;
    --pot-button-color-pressed-background: initial;
    --pot-button-color-pressed-text: initial;
    --pot-button-color-pressed-outline: initial;
}

.pot-button:active {
    border-color: var(--pot-button-color-pressed-border);
    background-color: var(--pot-button-color-pressed-background);
    color: var(--pot-button-color-pressed-text);
    outline-color: var(--pot-button-color-pressed-outline);
}
/* CONDITION:pressed - END */

/* CONDITION:disabled - START */
.pot-button {
    --pot-button-color-disabled-border: initial;
    --pot-button-color-disabled-background: initial;
    --pot-button-color-disabled-text: initial;
    --pot-button-color-disabled-outline: initial;
}

.pot-button:disabled {
    border-color: var(--pot-button-color-disabled-border);
    background-color: var(--pot-button-color-disabled-background);
    color: var(--pot-button-color-disabled-text);
    outline-color: var(--pot-button-color-disabled-outline);
}
/* CONDITION:disabled - END */