/* NOT EDIT! THIS STYLES GENERATED AUTOMATICALLY! */

.pot-button._color-pot {
    --pot-button-color-border: var(--color-border);
    --pot-button-color-background: var(--color-target);
    --pot-button-color-text: var(--color-text);
    --pot-button-color-outline: var(--color-target);
}

.pot-button._color-pot:hover {
    --pot-button-color-background: var(--color-hover-target);
    --pot-button-color-border: var(--color-hover-border);
    --pot-button-color-text: var(--color-hover-text);
    --pot-button-color-outline: var(--color-hover-target);
}

.pot-button._color-pot:active {
    --pot-button-color-background: var(--color-active-target);
    --pot-button-color-border: var(--color-active-target);
    --pot-button-color-text: var(--color-active-text);
    --pot-button-color-outline: var(--color-active-target);
}

.pot-button._color-pot:disabled {
    --pot-button-color-background: var(--pot-base-400);
    --pot-button-color-border: var(--pot-base-400);
    --pot-button-color-text: var(--color-disabled-text);
    --pot-button-color-outline: var(--pot-base-400);
}

.pot-button._radius-rounded {
    --pot-button-radius-value: 1000px;
}

.pot-button._size-tiny {
    --pot-button-size-height: var(--pot-spacer-3-200);
    --pot-button-size-text: var(--pot-font-size-200);
    --pot-button-size-padding: var(--pot-spacer-1-200);
    --pot-button-size-border: 1px;
    --pot-button-size-outline: 2px;
    --pot-button-size-outline-offset: 2px;
}

.pot-button._size-small {
    --pot-button-size-height: var(--pot-spacer-3-600);
    --pot-button-size-text: var(--pot-font-size-200);
    --pot-button-size-padding: var(--pot-spacer-1-600);
    --pot-button-size-border: 1px;
    --pot-button-size-outline: 2px;
    --pot-button-size-outline-offset: 2px;
}

.pot-button._size-medium {
    --pot-button-size-height: var(--pot-spacer-4-800);
    --pot-button-size-text: var(--pot-font-size-200);
    --pot-button-size-padding: var(--pot-spacer-2);
    --pot-button-size-border: 1px;
    --pot-button-size-outline: 2px;
    --pot-button-size-outline-offset: 2px;
}

.pot-button._size-large {
    --pot-button-size-height: var(--pot-spacer-5-600);
    --pot-button-size-text: var(--pot-font-size-300);
    --pot-button-size-padding: var(--pot-spacer-2-800);
    --pot-button-size-border: 1px;
    --pot-button-size-outline: 2px;
    --pot-button-size-outline-offset: 2px;
}