.pot-button._color-pot {
    --pot-button-color-base-border: var(--color-border);
    --pot-button-color-base-background: var(--color-target);
    --pot-button-color-base-text: var(--color-text);
    --pot-button-color-base-outline: var(--color-target);
    --pot-button-color-hover-background: var(--color-hover-target);
    --pot-button-color-hover-border: var(--color-hover-border);
    --pot-button-color-hover-text: var(--color-hover-text);
    --pot-button-color-hover-outline: var(--color-hover-target);
    --pot-button-color-pressed-background: var(--color-active-target);
    --pot-button-color-pressed-border: var(--color-active-target);
    --pot-button-color-pressed-text: var(--color-active-text);
    --pot-button-color-pressed-outline: var(--color-active-target);
    --pot-button-color-disabled-background: var(--pot-base-400);
    --pot-button-color-disabled-border: var(--pot-base-400);
    --pot-button-color-disabled-text: var(--color-disabled-text);
    --pot-button-color-disabled-outline: var(--pot-base-400);
}

.pot-button._size-tiny {
    --pot-button-size-height: var(--pot-spacer-3-200);
    --pot-button-size-text: var(--pot-font-size-200);
    --pot-button-size-padding: var(--pot-spacer-1-200);
    --pot-button-size-gap: var(--pot-spacer-0-800);
    --pot-button-size-icon: var(--pot-spacer-1-400);
    --pot-button-size-border: 1px;
}

.pot-button._size-small {
    --pot-button-size-height: var(--pot-spacer-3-600);
    --pot-button-size-text: var(--pot-font-size-200);
    --pot-button-size-padding: var(--pot-spacer-1-600);
    --pot-button-size-gap: var(--pot-spacer-0-800);
    --pot-button-size-icon: var(--pot-spacer-1-600);
    --pot-button-size-border: 1px;
    --pot-button-size-outline: 2px;
    --pot-button-size-outline-offset: 4px;
}

.pot-button._size-medium {
    --pot-button-size-height: var(--pot-spacer-4-800);
    --pot-button-size-text: var(--pot-font-size-200);
    --pot-button-size-padding: var(--pot-spacer-2);
    --pot-button-size-gap: var(--pot-spacer-1-200);
    --pot-button-size-icon: var(--pot-spacer-1-600);
    --pot-button-size-border: 1px;
    --pot-button-size-outline: 2px;
    --pot-button-size-outline-offset: 4px;
}

.pot-button._size-large {
    --pot-button-size-height: var(--pot-spacer-5-600);
    --pot-button-size-text: var(--pot-font-size-300);
    --pot-button-size-padding: var(--pot-spacer-2-800);
    --pot-button-size-gap: var(--pot-spacer-1-200);
    --pot-button-size-icon: var(--pot-spacer-2);
    --pot-button-size-border: 1px;
    --pot-button-size-outline: 2px;
    --pot-button-size-outline-offset: 4px;
}

.pot-button._radius-circle,
.pot-button._radius-large,
.pot-button._radius-medium,
.pot-button._radius-small,
.pot-button._radius-tiny,
.pot-button._radius-radius--8,
.pot-button._radius-radius--6,
.pot-button._radius-radius--4,
.pot-button._radius-radius--2 {
    --pot-button-radius: var(--radius);
}