/* NOT EDIT! THIS STYLES GENERATED AUTOMATICALLY! */

.pot-select-option {
    --pot-select-size-option-text: 1.6rem;
}

.pot-select-option:hover {
    background-color: pink;
}

.pot-select-option._option-focused {
    background-color: red;
}

.pot-select-option._option-selected {
    background-color: blue;
}

.pot-select-option._option-selected._option-focused {
    background-color: green;
}

.pot-select-header._select-color-pot {
    --pot-select-color-header-border: #f3f5f7;
    --pot-select-color-header-background: #f3f5f7;
    --pot-select-color-header-text: #373a41;
    --pot-select-color-header-outline: #e4002b;
    --pot-select-color-header-placeholder: #acaebb;
    --pot-select-color-header-icon: #373a41;
}

.pot-select-header._select-color-pot._focused {
    --pot-select-color-header-border: #e4002b;
}

.pot-select-dropdown._select-color-pot {
    --pot-select-color-dropdown-border: #373a41;
}

.pot-select-header._select-size-medium {
    --pot-select-size-header-height: 4rem;
    --pot-select-size-header-padding: 0 1.5rem 0 1.8rem;
    --pot-select-size-header-border: 1px;
    --pot-select-size-header-text: 1.4rem;
    --pot-select-size-header-gap: 0.8rem;
    --pot-select-size-header-icon: 1.6rem;
}

.pot-select-dropdown._select-size-medium {
    --pot-select-size-dropdown-border: 1px;
}

.pot-select-option._select-size-medium {
    --pot-select-size-option-padding: 1rem 2rem;
}

.pot-select-header._select-radius-circle {
    --pot-select-radius-header-value: 1000px;
}

.pot-select-dropdown._select-radius-circle {
    --pot-select-radius-dropdown-value: 2rem;
}