/* CONFIGURATION:size - START */
.pot-button {
    --pot-button-size-height: initial;
    --pot-button-size-padding: initial;
    --pot-button-size-border: initial;
    --pot-button-size-text: initial;
    --pot-button-size-outline: initial;
    --pot-button-size-outline-offset: initial;

    height: var(--pot-button-size-height);
    padding: 0 var(--pot-button-size-padding);
    border-width: var(--pot-button-size-border);
    font-size: var(--pot-button-size-text);
    outline-width: var(--pot-button-size-outline);
    outline-offset: var(--pot-button-size-outline-offset);
}
/* CONFIGURATION:size - END */

/* CONFIGURATION:radius - START */
.pot-button {
    --pot-button-radius: initial;

    border-radius: var(--pot-button-radius);
}
/* CONFIGURATION:radius - END */